# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Build
ABOUT-NLS
build
*.a
*.o
.deps
config.h
po/POTFILES
src/amule
src/amulecmd
src/amuled
src/amulegui
src/ed2k
src/libs/ec/ECGeneratedFiles
src/libs/ec/cpp/EC-timestamp
src/libs/ec/cpp/ECVersion.h
src/libs/ec/cpp/mkFileSum
src/utils/cas/cas
src/utils/scripts/denoiser.sed
src/utils/wxCas/src/wxcas
src/utils/xas/autostart-xas
src/webserver/src/amuleweb
unittests/tests/*Test
